.dyn-button {
  width: 160px;
  height: 48px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #f5772f;
  color: #ffff;
  font-size: 16px;
  font-weight: 700;
  overflow: visible;
}
.homepagebtnacct {
  width: 100%;
  text-align: center;
  margin-top: 28px;
}
.dyn-button:hover {
  background-color: #ff9e66;
}

.acctnumber {
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}
.account-background {
  width: 391px;
  /* height: 377px; */
  top: 6105px;
  left: 8461px;
  padding: 30px;
  gap: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
}
.account-head {
  display: flex;
  justify-content: space-between;
}
.acces {
  font-family: "Avenir LT Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}
.account-text {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  margin-top: 20px;
}
.acnumber {
  font-family: "Avenir LT Pro";
  color: #273043;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.acnumber2 {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  color: #596275;
  margin-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  .account-background {
    width: 320px;
    height: 340px;
    padding: 20px 15px;
    gap: 24px;
    border-radius: 10px;
    overflow: hidden;
  }

  .account-text {
    gap: 2px;
    margin-top: 12px;
  }

  .acnumber {
    font-size: 16px;
    font-weight: 400;
  }

  .acnumber2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }

  .acces {
    font-size: 20px;
  }

  .homepagebtnacct {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .account-background {
    width: 300px;
  }
}