.logo1 {
  width: 198.64px;
}

.footer-container {
  background-color: white;
  padding: 80px 100px;
  margin-top: 8%;
}
.footer-king {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 80px;
}
.footer-one p {
  margin-top: 5%;
  line-height: 24px;
}
.gets {
  color: #596275;
  line-height: 24px;
}
.get {
  color: #f5772f;
}
.direction {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  color: #596275;
  gap: 10px;
}
.email {
  display: flex;
  align-items: center;
  color: #596275;
  gap: 10px ;
}
.phone {
  color: #f5772f;
  margin-top: 5%;
  font-size: 20px;
}
.footer-two h4{
  color: #273043;
}
.footer-two p {
  margin-top: 20%;
  color: #596275;
  cursor: pointer;
  line-height: 24px;

}
.footer-two p:hover{
    color: #f5772f;
}

.footer-three h4{
  color: #273043;

}
.footer-three p {

  margin-top: 13.5%;
  color: #596275;
  cursor: pointer;
  line-height: 24px;

}
.footer-three p:hover{
    color: #f5772f;
}
.footer-four h4{
  color: #273043;

}
.follow {
  margin-top: 5%;
  display: flex;
  gap: 30px;
}
.icon {
  background-color: rgba(200, 200, 200, 0.1);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  color: #adadad;
  padding: 10px;
  cursor: pointer;
}
.icon:hover{
    color: #f5772f;
}
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #596275;
  margin-top: 3%;
}
.copyright p{
  
  margin-top: 4%;
}

@media only screen and (max-width: 768px) {
  .footer-king {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    /* overflow: visible; */
  }
}
@media screen and (max-width: 500px){
  .footer-king{
    overflow: visible;
  }
  .footer-king p{
    font-size: 14px;
  }
  .direction {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: #596275;
    overflow: visible;
  }
  .email {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
/* font-size: 14px; */
    color: #596275;
  }
  .phone {
    color: #f5772f;
    margin-top: 5%;
    font-size: 20px;
  }
  .logo1 {
    width: 158.64px;
  }
  .icon {
    font-size: 46px;
  }
  .footer-one p {
    margin-top: 7%;
  }
  .footer-two p {
    margin-top: 7%;
  }
  .footer-three p {
    margin-top: 7%;
  }
  .footer-four{
    overflow: visible;
    /* padding: 0 20px; */
  }
  .icon {
    /* background-color: rgba(200, 200, 200, 0.1); */
    /* border-radius: 50%; */
    /* width: 46px; */
    /* height: 46px; */
    color: #adadad;
    padding: 10px;
    cursor: pointer;

    
  }
  .icon:hover{
      color: #f5772f;
  }
  .copyright{
    flex-direction: column;
    margin-top: 25%;
  }
  .copyright p{
    text-align: center;
    font-size: 14px;
    gap: -10px;
  }
}
@media screen and (max-width: 430px){
  
  .footer-king{
    overflow: visible;
  }
  .footer-king p{
    font-size: 14px;
  }
  
  .direction {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: #596275;
    overflow: visible;
    margin-top: 5%;
  }
  .direction p{
    margin-top: 5%;
  }
  .email {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
/* font-size: 14px; */
    color: #596275;
  }
  .phone {
    color: #f5772f;
    margin-top: 5%;
    font-size: 20px;
  }
  .logo1 {
    width: 250px;
  }
  .icon {
    font-size: 46px;
  }

  .footer-one p {
    margin-top: 1%;
  }
  .footer-two p {
    margin-top: 5%;
  }
  .footer-three p {
    margin-top: 5%;
  }
  .footer-four{
    overflow: visible;
    margin-bottom: 3%;
    /* padding: 0 20px; */
  }
 
  .icon {
    /* background-color: rgba(200, 200, 200, 0.1); */
    /* border-radius: 50%; */
    /* width: 46px; */
    /* height: 46px; */
    color: #adadad;
    padding: 10px;
    cursor: pointer;
    margin-top: 1%;

    
  }
  .icon:hover{
      color: #f5772f;
  }
  .copyright{
    flex-direction: column;
    margin-top: 15%;
  }
  .copyright p{
    text-align: center;
    font-size: 14px;
    gap: -10px;

  }
}